.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #FFF;
}

.formContainer>form {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* flex: 0 0 100%; */
    background: #292929;
    /* background: transparent; */
    padding: 30px;
    gap: 30px;
    border-radius: 15px;

}

.field {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    /* color: transparent; */
    /* font-weight: 800; */
}

.formContainer>form>h2 {
    text-align: center;
    /* background: transparent; */
}

.field>label {
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
}


input {
    padding: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
}

input[type="submit"] {
    font-size: 1.5rem;
    font-weight: 600;
}


input[type="submit"]:hover {
    background: #a39595;
}

.background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.passGroup{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-error {
    border: 3px solid red;
}