<div class="background">

    <img src="assets/images/home snimka.jpg">
</div>
<div class="heroSection">
    <app-header></app-header>
</div>

<div>
    <div class="container">
        <h1>Discover Your Escape:</h1>
        <p>Sava Hikes offers a unique and convenient way to discover and check details about Bulgarian huts, making
            it
            easier for you to plan your hiking trips and enjoy the beauty of Bulgaria's nature. </p>
        <p>Choose your next hut and immerse yourself in this adventure!</p>
        <a href="#">Catalog</a>
    </div>

    <div class="liked-posts-container">
        <h2>Most Liked Huts</h2>
        <div class="liked-Cards">
            <div class="card">
                <a href="#"><img src="assets/images/spano_1.jpg"></a>
            </div>
            <div class="card">
                <a href="#"><img src="assets/images/spano_1.jpg"></a>
            </div>
            <div class="card">
                <a href="#"><img src="assets/images/spano_1.jpg"></a>
            </div>
        </div>
    </div>
</div>