
    <!-- <div class="imgContainer">
        <img src="/images/spano_1.jpg">
    </div> -->

    <app-header></app-header>

    <div class="main">
        <div class="imgContainer">
            <img src="/images/spano_1.jpg">
        </div>

        <h1>TitleOfHut</h1>
        <h3>Basic Information of the Hut:</h3>
        <div class="info">
            <p>Elavation: 1200</p>
            <p>Distance: 1200</p>
            <p>Mountain: Rila</p>
            <p>Location: 42.18974577783478, 23.283533732052366</p>
        </div>
        <div class="description">
            <p>Description: A pretty easy route and in the end you can see the 7 lakes of Rila</p>
        </div>
        <div class="googleMaps">
            <p>GOOGLEMAPSMAP</p>
        </div>
        <div class="buttons">
            <a href="#">Edit</a>
            <a href="#">Delete</a>
        </div>
        <div class="buttons">
            <a href="">Like</a>
        </div>

    </div>
