<!-- <div class="imgContainer">
        <img src="/images/spano_1.jpg">
    </div> -->

<app-header></app-header>

<div class="main">
    @if(showDeleteModal){
        <div class='modal-overlay'>
            <div class='modal-container'>
              <h2 class='modal-title'>Confirm Deletion</h2>
              <p class='modal-message'>Are you sure you want to delete this post? This action cannot be undone.</p>
              <div class='modal-buttons'>
                <button class='confirm-button' (click)="onConfirm($event)" >Delete</button>
                <button class='cancel-button' (click)="onCancel($event)">Cancel</button>
              </div>
              <!-- <p>Item {{item}}</p> -->
            </div>
          </div>
    }

    <div class="imgContainer">
        <img src={{hike.imageUrl}}>
    </div>

    <!-- <div class="container"> -->
    <h1>{{hike.title}}</h1>
    <h3>Basic Information of the Hut:</h3>
    <div class="info">
        <p>Elavation: {{hike.elavation}}</p>
        <p>Distance: {{hike.distance}}</p>
        <p>Mountain: {{hike.mountain}}</p>
        <p>Location: {{hike.location}}</p>
        <!-- <p>Description: {{hike.description}}</p> -->
        <!-- <div class="imgContainerCard">
                <img src="assets/images/put karta.png">
             </div> -->
    </div>
    <div class="description">
        <p>Description: {{hike.description}}</p>
    </div>
    <div class="googleMaps">
        <p>GOOGLEMAPSMAP</p>
    </div>

    @if(isLogged){
    <div class="buttons">
        @if(isOwner){
        <a href="#">Edit</a>
        <a (click)="toggleDelete()">Delete</a>
        }@else {
        <a href="#">Like</a>
        }

    </div>
    }


    <!-- </div> -->

</div>