.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    gap: 40px;
    padding: 100px 0;
    width: 50%;
    background: #686666;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.buttons>a {
    width: fit-content;
    padding: 20px 30px;
    color: black;
    background: #d9a724;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 2px;
}

p{
    font-size: 1.3rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description{
    font-size: 1.5rem;
}

/* .imgContainer {
    z-index: -1;
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 0;
} */

/* img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */
/* body{
    position: relative;
} */