<!-- <div class="imgContainer">
        <img src="/images/spano_1.jpg">
    </div> -->

<app-header></app-header>

<div class="main">
    @if(showDeleteModal){
        <app-delete-modal></app-delete-modal>
    }

    <div class="imgContainer">
        <img src={{hike.imageUrl}}>
    </div>

    <!-- <div class="container"> -->
    <h1>{{hike.title}}</h1>
    <h3>Basic Information of the Hut:</h3>
    <div class="info">
        <p>Elavation: {{hike.elavation}}</p>
        <p>Distance: {{hike.distance}}</p>
        <p>Mountain: {{hike.mountain}}</p>
        <p>Location: {{hike.location}}</p>
        <!-- <p>Description: {{hike.description}}</p> -->
        <!-- <div class="imgContainerCard">
                <img src="assets/images/put karta.png">
             </div> -->
    </div>
    <div class="description">
        <p>Description: {{hike.description}}</p>
    </div>
    <div class="googleMaps">
        <p>GOOGLEMAPSMAP</p>
    </div>

    @if(isLogged){
    <div class="buttons">
        @if(isOwner){
        <a href="#">Edit</a>
        <a  (click)="toggleDelete()">Delete</a>
        }@else {
        <a href="#">Like</a>
        }

    </div>
    }


    <!-- </div> -->

</div>