
<app-header></app-header>
<main>
    <div class="form-container">
        <form>
            <h2>Search Huts by name</h2>
            <input type="text" id="search" placeholder="Ivan Vazov" />
        </form>
    </div>

    <div class="catalog-container">
        <div class="catalog-card">
            <div class="img-container">
                <img src="assets/images/spano_1.jpg">
            </div>
            <h3>NameOfHut</h3>
            <a href="#">Explore Now</a>
        </div>

        <div class="catalog-card">
            <div class="img-container">
                <img src="assets/images/spano_1.jpg">
            </div>
            <h3>NameOfHut</h3>
            <a href="#">Explore Now</a>
        </div>

        <div class="catalog-card">
            <div class="img-container">
                <img src="assets/images/spano_1.jpg">
            </div>
            <h3>NameOfHut</h3>
            <a href="#">Explore Now</a>
        </div>

        <div class="catalog-card">
            <div class="img-container">
                <img src="assets/images/spano_1.jpg">
            </div>
            <h3>NameOfHut</h3>
            <a href="#">Explore Now</a>
        </div>

        <div class="catalog-card">
            <div class="img-container">
                <img src="assets/images/spano_1.jpg">
            </div>
            <h3>NameOfHut</h3>
            <a href="#">Explore Now</a>
        </div>

        <div class="catalog-card">
            <div class="img-container">
                <img src="assets/images/spano_1.jpg">
            </div>
            <h3>NameOfHut</h3>
            <a href="#">Explore Now</a>
        </div>

        
    </div>
</main>