<app-header></app-header>
<main>
    <div class="form-container">
        <form>
            <h2>Search Huts by name</h2>
            <input type="text" id="search" placeholder="Ivan Vazov" />
        </form>
    </div>

    <div class="catalog-container">
        @for (hike of hikes; track $index) {
        <div class="catalog-card">
            <div class="img-container">
                <img src={{hike.imageUrl}}>
            </div>
            <h3>{{hike.title}}</h3>
            <a routerLink={{hike._id}}>Explore Now</a>
        </div>
        }





    </div>
</main>