* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #292929;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 400px;
    width: 50%;
    color: #FFF;
}

.container>h1 {
    font-size: 5rem;
}

.container>p {
    font-size: 3rem;
}

a {
    color: #d9a724;
    
}