<header>
    <div class="heroSection">

        <nav>
            <div class="logoContainer">
                <a href="#"><img src="assets/images/logo.png"></a>
            </div>
            <ul class="list-items">
                <li><a href="#">About</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Add Hike</a></li>
            </ul>
        </nav>
    </div>

</header>