<header>
    <div class="heroSection">

        <nav>
            <div class="logoContainer">
                <a routerLink=""><img src="assets/images/logo.png"></a>
            </div>
            <ul class="list-items">
                <li><a href="#">About</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Add Hike</a></li>
            </ul>
        </nav>
    </div>

</header>